<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
    </head>
    <body>

        <div class="container">
        <h2>Editing car</h2>

        <%= form_for ([@user,@car]) do |f| %>
          <div><%= f.label :brand %><br />
          <%= f.text_field :brand %></div>

          <div><%= f.label :color %><br />
          <%= f.text_field :color %></div>

          <div><%= f.label :model %><br />
          <%= f.text_field :model %></div>

          <div><%= f.label :year %><br />
          <%= f.text_field :year %></div>
      
          <div><%= f.submit "update",:class => "btn btn-primary" %></div>
        <% end %>
        <br />
        <%= link_to "Back", current_user,:class => "btn btn-primary"  %>
      </div> <!-- /container -->
    </body>
</html>